<% layout("layout/boilerplate")%>
<style>
    
    .container {
        max-width: 800px;
        margin: 20px auto;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
       
    }
    h1 {
        text-align: center;
    }
    .expense-section {
        margin-bottom: 20px;
    }
    .expense-section h2 {
        border-bottom: 1px solid #ccc;
        padding-bottom: 5px;
    }
    ul {
        list-style-type: none;
        padding: 0;
    }
    li {
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 10px;
    }
    .expense-item {
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 10px;
    }
    
</style>

<div class="container">
    <h1>Expense Tracker</h1>

    <form action=""><button>Edit</button></form>
    

    <div class="expense-section">
        <h2>Tuition Fees</h2>
        <p>Course: Cse Btech 3 Sem</p>
        <p>Amount: <%= data.tuitionFees.amount %></p>
        <p>Receipt no: 1234</p>
        <p>Date: <%= data.tuitionFees.date %></p>
    </div>

    <div class="expense-section">
        <h2>Textbooks</h2>
        <ul id="textbooks-list">
            <% data.textbooks.forEach(book => { %>
                <li class="expense-item">
                    <div>
                        <p>Title: <%= book.name %></p>
                        <p>Author: <%= book.author %></p>
                        <p>Amount: <%= book.amount %></p>
                    </div> 
                </li>
            <% }); %>
        </ul>
        <form action="">
            <button>+ Add Book</button>
        </form>
    </div>

    <div class="expense-section">
        <h2>Stationery</h2>
        <ul id="stationery-list">
            <% data.stationery.forEach(item => { %>
                <li class="expense-item">
                    <div>
                        <p>Name: <%= item.name %></p>
                        <p>Description: <%= item.description %></p>
                        <p>Amount: <%= item.amount %></p>
                    </div> 
                </li>
            <% }); %>
        </ul>
        <form action=""><button>+ Add Stationery</button></form>
    </div>

    <div class="expense-section">
        <h2>Other Expenses</h2>
        <ul id="other-expenses-list">
            <% data.otherExpenses.forEach(expense => { %>
                <li class="expense-item">
                    <div>
                        <p>Name: <%= expense.name %></p>
                        <p>Description: <%= expense.description %></p>
                        <p>Amount: <%= expense.amount %></p>
                    </div> 
                </li>
            <% }); %>
            <form action=""><button>+ Add</button></form>
        </ul>
    </div>

    <div class="expense-section">
        <h2>Monthly Budget</h2>
        <p><span id="monthly-budget"><%= data.monthlyBudget %></span></p>
    </div>
</div>
