<% layout("layout/boilerplate") %>

<h4>Check your Report</h4>

<form action="/test/score" method="GET">
    <button name="s" value="1" <%= currUser.semester >= 1 ? '' : 'disabled' %>>Semester 1</button>
</form><br>
<form action="/test/score" method="GET">
    <button name="s" value="2" <%= currUser.semester >= 2 ? '' : 'disabled' %>>Semester 2</button>
</form><br>
<form action="/test/score" method="GET">
    <button name="s" value="3" <%= currUser.semester >= 3 ? '' : 'disabled' %>>Semester 3</button>
</form><br>
<form action="/test/score" method="GET">
    <button name="s" value="4" <%= currUser.semester >= 4 ? '' : 'disabled' %>>Semester 4</button>
</form><br>
<form action="/test/score" method="GET">
    <button name="s" value="5" <%= currUser.semester >= 5 ? '' : 'disabled' %>>Semester 5</button>
</form><br>
<form action="/test/score" method="GET">
    <button name="s" value="6" <%= currUser.semester >= 6 ? '' : 'disabled' %>>Semester 6</button>
</form><br>
<form action="/test/score" method="GET">
    <button name="s" value="7" <%= currUser.semester >= 7 ? '' : 'disabled' %>>Semester 7</button>
</form><br>
<form action="/test/score" method="GET">
    <button name="s" value="8" <%= currUser.semester >= 8 ? '' : 'disabled' %>>Semester 8</button>
</form><br>
