<% layout("layout/boilerplate") %>

<style>
    table th,tr,td{
        border: 1px solid black;
        padding: 10px;
    }
    table{
        margin: 10px;
    }
</style>

<h1>Test Scores</h1>



<% if (testScores.length > 0) { %>
    <form action="/test/score">
        <button name="s" value="<%=testScores[0].course.semester%>">All Scores</button>
    </form>
    <table style="border:1px solid black">
        <tr>
            <th style="border:1px solid black">Course</th>
            <th style="border:1px solid black">Degree</th>
            <th style="border:1px solid black">Internal 1</th>
            <th style="border:1px solid black">Internal 2</th>
            <th style="border:1px solid black">SEE</th>
            <th style="border:1px solid black">Status</th>
            <th style="border:1px solid black">Grade</th>
        </tr>
        <% testScores.forEach(score => { %>
            <tr>
                <td><%= score.course.name %></td>
                <td><%= score.degree %></td>
                <td>Written: <%= score.cie.internal1.marks.written %> + Assignment: <%= score.cie.internal1.marks.assignment %></td>
                <td>Written: <%= score.cie.internal2.marks.written %> + Assignment: <%= score.cie.internal2.marks.assignment %></td>
                <td>Marks: <%= score.see.marks %></td>
                <td><%= score.status %></td>
                <td><%= score.Grade %></td>
                <td><form action="/test/scores/<%=score._id%>/edit"><button>Edit</button></form></td>
            </tr>
        <% }) %>
    </table>
<% } else { %>
    <p>No data found</p>
    <form action="/test/scores/add" method="GET"><button>Add Scores</button></form>
<% } %>
