<% layout("layout/boilerplate") %>

<style>
    form *{
        margin : 8px;
    }
</style>

<h3>Edit Course</h3>
<h6><%=course.name%></h6>
<h6><%=course.code%></h6>
<hr>
<form action="/course/<%= course._id %>/update" method="POST">
    
    <label for="branch">Branch:</label><br>
    <select name="branch" id="branch" required>
        <option value="CSE">CSE</option>
        <option value="ISE">ISE</option>
        <option value="EEE">EEE</option>
        <option value="ECE">ECE</option>
        <option value="AIML">AIML</option>
        <option value="MECH">Mechanical</option>
        <option value="CIVIL">Civil</option>
    </select>

    <label for="cie">CIE:</label>
    <input type="number" id="cie" name="cie" value="<%= course.cie %>"><br>
    
    <label for="see">SEE:</label>
    <input type="number" id="see" name="see" value="<%= course.see %>"><br>
    
    <label for="semester">Semester:</label>
    <input type="number" id="semester" name="semester" value="<%= course.semester %>"><br>
    
    <label for="credits">Credits:</label>
    <input type="number" id="credits" name="credits" value="<%= course.credits %>"><br>
    
    <label for="duration">Duration:</label>
    <input type="number" id="duration" name="duration" value="<%= course.duration %>"><br>
    
    <button type="submit">Update</button>
</form>

